# ============================================================
# CampusConnect AI - Environment Configuration Example
# ============================================================

# Frontend Config
NEXT_PUBLIC_API_URL=https://campus-k15u.vercel.app
NEXT_PUBLIC_WHATSAPP_NUMBER=8328519373
# Backend Config
DATABASE_URL=postgresql://postgres.zayoiqgkbinpegqmgjeu:[Divya@120531]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres
ENVIRONMENT=development
